<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title + ' | ' if current_page.data.title %>Sebastian Gräßl</title>

    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag 'print', media: :print %>

    <link type="text/plain" rel="author" href="http://bastilian.me/humans.txt" />
  </head>

  <body>
    <my-site url="/user.json" id="site" class="<%= current_page.path == 'index.html' ? 'index' : '' %>">
      <%= partial 'header' %>

      <my-map></my-map>
      <div id='timeline'></div>
        <my-content id="content">
          <div>
            <header>
              <h2><%= current_page.data.title || "Sebastian Gräßl" %></h2>
            </header>

            <section>
              <%= yield %>
            </section>

            <aside>
              <div>
                <% if current_page.data.image %>
                  <div class="image">
                    <img class="featured-image" src="<%= current_page.data.image %>" alt="" />
                  </div>
                <% end %>

                <% if current_page.data.metatitle %>
                  <p>
                    <%= current_page.data.metatitle %>
                  </p>
                <% end %>
                <% if current_page.data.worked_with %>
                  <strong>Worked with:</strong>
                  <ul>
                    <% current_page.data.worked_with.each do | item | %>
                      <li><%= item %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </aside>
          </div>
        </my-content>
      <footer>
        © 2016 by Sebastian Gräßl | <a href="/privacy">Privacy Policy</a>
      </footer>
    </my-site>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADczaSQDsbY4uh5VzD-xUxWTpDIeshWe0"></script>
    <%= javascript_include_tag  "all" %>

  </body>
</html>
