---
title: "Hej! I'm Sebastian"
---


<h3>TL;DR</h3>

<ul>
  <li>I'm a Ruby &amp; JavaScript Developer at <a href="https://redhat.com" style="color:#cc0000;">Red Hat Inc.</a></li>
  <li>I love <a href="">JavaScript</a> and <a href="https://ruby-lang.org">Ruby</a>
  <li>I worked for companies like <a href="#wollzelle">wollzelle</a>, <a href="#whatchado">whatchado</a>, <a href="#tupalo">Tupalo.com</a> and <a href="#engineyard">Engine Yard</a></li>
  <li>I like working as a developer as much as helping people in support</li>
  <li>I contribute to open source projects</li>
  <li>I occasionally attend meetups and conferences where I sometimes give talks</li>
  <li>I helped and organized events like RailsGirls Workshops and ROSSConf.</li>
  <li>I moderated conferences like JSIST and Codefront</li>
</ul>

<h3>Timeline</h3>

<% group_events_by(data.user.events, :year).reverse.each do |year, events| %>
  <h4 id="<%= year %>"><%= year %></h4>
  <ul class="about-event">
    <% events.sort_by { |e| e.type }.reverse.each do |event| %>
      <li id="<%= event.url.split('/').last if event.url%>">
        <strong<%= ' class="big"' if event.url %>>
          <a href="<%= event.url %>"<%= event.color ? " style='color:##{event.color}'" : '' %>>
            <%= event.title %>
          </a>
        </strong>

        <% if event.url %>
          <% article = find_article(event.url) %>

          <% if article %>
            <%= article.body %>
          <% end %>

        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Meta:</h3>

<dl>
  <dt>Living in:</dt>
  <dd>Vienna, Austria</dd>
  <dt>Born in:</dt>
  <dd>Graz, Austria</dd>
  <dt>Born on:</dt>
  <dd>7th January 1986</dd>
  <dt>Languages:</dt>
  <dd>German, English</dd>
  <dt>Working with:</dt>
  <dd>Ruby, JavaScript, HTML, CSS, PostgreSQL, RethinkDB, Docker, CoreOS, nginx, git, bash, zsh, *nix-systems</dt>
</dl>
