---
title: "Hi! I'm Sebastian"
---

<p>
  In 2006 I started working as a web developer doing mainly front end development and working on projects with Ruby and Rails in my spare time.
  I went on working with Rails at my day-job two years later, improving and maintaining <a href="http://fluxiom.com">Fluxiom</a> as well as building custom solutions for clients based on BrowserCMS, Mephisto and WordPress and building rich JavaScript front ends at wollzelle.
  After more than 2 years I took a little detour and learned ColdFusion while working at a small agency for a while.
  To work with Ruby and Rails again and started working for <a href="http://tupalo.com">Tupalo.com</a>.
  After a period of freelancing and working for startups, like whatchado, I joined <a href="http://engineyard.com">Engine Yard</a> as <strong>Application Support Engineer</strong>.
</p>

<p>
  In my free time I occasionally attend meetups and conferences, give talks and sometimes organize events like RailsGirls Workshops and ROSSConf.
</p>

<dl>
  <dt>Living in:</dt>
  <dd>Vienna, Austria</dd>
  <dt>Born in:</dt>
  <dd>Graz, Austria</dd>
  <dt>Born on:</dt>
  <dd>7th January 1986</dd>
  <dt>Languages:</dt>
  <dd>German, English</dd>
  <dt>Working with:</dt>
  <dd>Ruby, JavaScript, HTML, CSS, PostgreSQL, RethinkDB, Docker, CoreOS, nginx, git, bash, zsh, *nix-systems</dt>
</dl>

<% group_events_by(data.user.events, :year).reverse.each do |year, events| %>
  <h3><%= year %></h3>
  <ul class="about-timeline">
    <% events.sort_by { |e| e.type }.reverse.each do |event| %>
      <li>
        <strong<%= ' class="big"' if event.url %><%= event.color ? " style='color:##{event.color}'" : '' %>><%= event.title %></strong>

        <% if event.url %>
          <% article = find_article(event.url) %>

          <% if article.data.metatitle %>
            <span class="metatitle"><%= article.data.metatitle %></span>
          <% end %>

          <% if article %>
            <%= article.body %>
          <% end %>

        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
